* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.grid-column-two {
  display: grid;
  grid-template-columns: 38rem auto;
}
@media (max-width: 84em) {
  .grid-column-two {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 63em) {
  .container {
    padding: 0 8%;
  }
}
@media (max-width: 49em) {
  .grid-column-two {
    grid-template-columns: auto;
  }
}
